@charset "UTF-8";

/*
em HTML é id = em CSS é # (pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #006600;
}

h1#principal{
    text-align: center;
    background-color: #008000;
    color: white;
}

h2{
    color: #00E600;
}

.basico{
    color: #00E600;
}

.intermediario{
    color: #e2e600;
}

.avancado{
    color: #e60000;
}

.destaque{
    background-color: rgba(197, 197, 96, 0.438);
}